{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block body %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger mt-4">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <h1>Реєстрація</h1>
        <form method="post">
            <input type="email" required name="email" id="email" class="form-control mt-5" placeholder="Логин" ><br>
            <input type="password" required name="password" id="password" class="form-control" placeholder="Пароль" ><br>
            <input type="submit" class="btn btn-success" value="Зарегестрировать"><br>
        </form>
    </div>
{% endblock %}